@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
 :root {
    --font: 'Anonymous Pro', monospace;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgb(124, 116, 154);
    font-family: var(--font);
}

h1 {
    font-size: 30px;
    font-family: var(--font);
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px solid rgb(110, 129, 128);
}

form {
    width: 25%;
    margin: 10% auto;
    padding: 20px;
    height: auto;
    background-color: rgba(168, 227, 222, .8);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 15%);
}

input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #fff;
    height: 35px;
    padding: 1px 8px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(110, 129, 128);
    background-color: rgb(110, 129, 128);
    color: white;
    height: 35px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: var(--font);
    font-size: 18px;
    position: relative;
    z-index: 3;
}

.overlay {
    display: none;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}


/*Se activarán con la funcion que se defina en javascript*/

input.is-active {
    position: relative;
    z-index: 3;
    /*z index para que sobresalga del overlay.*/
}

.overlay.is-active {
    display: block;
}